.appDiv{
  text-align: center;
  margin: 0 auto;
}
.appDiv .header input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #FFF;
  width: 165px;
}
.appDiv .header button {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  margin-right: 0px;
  background-color: #0066FF;
  color: #FFF;
  border: 2px solid #0066FF;
}
.appDiv .header button:hover {
  background-color: #003399;
  border: 2px solid #003399;
  cursor: pointer;
}
.appDiv .theList {
  list-style: none;
 margin-left: 25%;
  text-align: center;
} 
.appDiv .theList li {
  color: #333;
  border: 1px solid;
  width: 50%;
  background-color: rgba(255,255,255,.5);
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
}